.square {
  width: 80px;
  height: 80px;
}

.black {
  background-color: brown;
}

.white {
  background-color: wheat;
}

.move-possible {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-sizing: border-box;
  position:absolute;
}